$bgWhite: #ffffff;
$bgBlue: #408ed4;
$bgDark: #333;
$bgOver: #33333396;
$bgTab: #f3f3f3;
$bgRed: #e12e2e;

$colorBody: #3d3d3d;
$colorWhite: #ffffff;
$colorRed: #e12e2e;
$colorTab: #a8a8a8;
$colorProduct: #3c74b9;
$colorGrey:  #acacac;

$fontLato: Lato,sans-serif;

$borderBottom: 1px solid #ebebeb;
$borderRight: 1px solid #e4e3e3;
$borderWhite: 1px solid #fff;

