.section {
    &__breadcrumbs {
        padding: 25px 0px;
        background-color: $bgBreadcrumbs;

        li {
            &::after {
                content: "/";
                padding: 0px 10px;
            }

            &:last-child {
                &::after {
                    content: '';
                }
            }

            a {
                text-transform: capitalize;
                font-weight: 700;
            }
        }
    }
}