.section {
    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 330px;
        height: 100%;
        background-color: $bgWhite;
        z-index: 999;
        padding: 20px 15px;
        overflow-y: scroll;
        transform: translateX(-330px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out 0s;

        &.active {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }

        &-header {
            border-bottom: $borderBottom;
            padding-bottom: 10px;

            &-name {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.5px;
            }

            &-times {
                font-size: 20px;
                cursor: pointer;
            }
        }

        &-content {
            padding-top: 20px;

            &-input {
                height: 45px;
                padding-left: 20px !important;
                border: 2px solid $bgBlue;
            }

            &-btn {
                background-color: $bgBlue;
                color: $colorWhite;
                border: 0;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 15px;

                &:hover {
                    background-color: $bgDark;
                }
            }

            &-item {
                a {
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: capitalize;
                    display: block;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: $borderBottom;
                }

                &:last-child {
                    a {
                        border: 0;
                    }
                }
            }
        }
    }
}